{% extends "import.html" %} 
{% block content %}

<center>
<br><h1 style="font-size:1.4em; ">Breast Cancer Detection Using Deep Learning</h1><br>
<br><h1 style="font-size:1.4em; ">provide the csv file with all the column defined below</h1><br>

    <form id="upload-file" method="post" enctype="multipart/form-data">
         <h1 style="font-size:.5em; "></h1style>><input type="file" name="file" class="btn btn-success" id="imageUpload" accept=".csv"><br></br>
         <label for="radius_mean">Radius Mean:</label>
         <input type="text" name="radius_mean" id="radius_mean"><br></br>
         <label for="texture_mean">Texture Mean:</label>
         <input type="text" name="texture_mean" id="texture_mean"><br></br>
         <label for="perimeter_mean">perimeter_mean:</label>
         <input type="text" name="perimeter_mean" id="perimeter_mean"><br></br>
         <label for="area_mean">area_mean:</label>
         <input type="text" name="area_mean" id="area_mean"><br></br>
         <label for="smoothness_mean">smoothness_mean:</label>
         <input type="text" name="smoothness_mean" id="smoothness_mean"><br></br>
         <label for="compactness_mean">compactness_mean:</label>
         <input type="text" name="compactness_mean" id="compactness_mean"><br></br>
         <label for="concavity_mean">concavity_mean:</label>
         <input type="text" name="concavity_mean" id="concavity_mean"><br></br>
         <label for="concave points_mean">concave points_mean:</label>
         <input type="text" name="concave points_mean" id="concave points_mean"><br></br>
         <label for="symmetry_mean">symmetry_mean:</label>
         <input type="text" name="symmetry_mean" id="symmetry_mean"><br></br>
         <label for="fractal_dimension_mean">fractal_dimension_mean:</label>
         <input type="text" name="fractal_dimension_mean" id="fractal_dimension_mean"><br></br>
         <label for="radius_se">radius_se:</label>
         <input type="text" name="radius_se" id="radius_se"><br></br>
         <label for="texture_se">texture_se:</label>
         <input type="text" name="texture_se" id="texture_se"><br></br>
         <label for="perimeter_se">perimeter_se:</label>
         <input type="text" name="perimeter_se" id="perimeter_se"><br></br>
         <label for="area_se">area_se:</label>
         <input type="text" name="area_se" id="area_se"><br></br>
         <label for="smoothness_se">smoothness_se:</label>
         <input type="text" name="smoothness_se" id="smoothness_se"><br></br>
         <label for="compactness_se">compactness_se:</label>
         <input type="text" name="compactness_se" id="compactness_se"><br></br>
         <label for="concavity_se">concavity_se:</label>
         <input type="text" name="concavity_se" id="concavity_se"><br></br>
         <label for="concave points_se">concave points_se:</label>
         <input type="text" name="concave points_se" id="concave points_se"><br></br>
         <label for="symmetry_se">symmetry_se:</label>
         <input type="text" name="symmetry_se" id="symmetry_se"><br></br>
         <label for="fractal_dimension_se">fractal_dimension_se:</label>
         <input type="text" name="fractal_dimension_se" id="fractal_dimension_se"><br></br>
         <label for="radius_worst">radius_worst:</label>
         <input type="text" name="radius_worst" id="radius_worst"><br></br>
         <label for="texture_worst">texture_worst:</label>
         <input type="text" name="texture_worst" id="texture_worst"><br></br>
         <label for="perimeter_worst">perimeter_worst:</label>
         <input type="text" name="perimeter_worst" id="perimeter_worst"><br></br>
         <label for="area_worst">area_worst:</label>
         <input type="text" name="area_worst" id="area_worst"><br></br>
         <label for="smoothness_worst">smoothness_worst:</label>
         <input type="text" name="smoothness_worst" id="smoothness_worst"><br></br>
         <label for="compactness_worst">compactness_worst:</label>
         <input type="text" name="compactness_worst" id="compactness_worst"><br></br>
         <label for="concavity_worst">concavity_worst:</label>
         <input type="text" name="concavity_worst" id="concavity_worst"><br></br>
         <label for="concave points_worst">concave points_worst:</label>
         <input type="text" name="concave points_worst" id="concave points_worst"><br></br>
         <label for="symmetry_worst">symmetry_worst:</label>
         <input type="text" name="symmetry_worst" id="symmetry_worst"><br></br>
         <label for="fractal_dimension_worst">fractal_dimension_worst:</label>
         <input type="text" name="fractal_dimension_worst" id="fractal_dimension_worst"><br></br></h1>
<!--          <div>
            <button type="button" class="btn btn-info btn-lg " id="btn-predict">Detect!</button>
         </div> -->
         
    </form>


    <div class="image-section" style="display:none;">
         <!-- <img id="imagePreview"  class="img-responsive" src="#" style="width:300px;height:300px;"/><br><br> -->
         <div>
            <button type="button" class="btn btn-info btn-lg " id="btn-predict">Predict!</button>
         </div>
    </div>



    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>


</center><br><br>
{% endblock %}